<%- include('partials/header.ejs') %>
<main>
  <h1>Home Page</h1>
  <% if(locals.messages) { %>
    <% if((locals.user && (locals.user.member))) { %> 
        <a href="/messages/new">
          <button>Send New Message</button>
        </a>
    <% } %>
    <% messages.forEach(message => { %>
      <div class="card">
        <p><%= message.title %></p>
        <p><%= message.data %></p>
        <% if(locals.user && locals.user.member) { %>
          <p>From: <%= message.firstname %></p>
          <p>Added: <%= message.added %></p>
        <% } %>

        <% if(locals.user && locals.user.admin)  {%>
          <form action='/messages/<%= message.id %>/delete' method="post">
            <input type="hidden" name="_METHOD" value="DELETE">
            <button type="submit">Delete</button>
          </form>
        <% } %>
      </div>
    <% }); %>
  <% } %>
</main>
<%- include('partials/footer.ejs') %>