<%- include('partials/header.ejs') %>
<main>
  <h1>Home Page</h1>
  <% if(locals.messages) { %> 
    <% messages.forEach(message => { %>
      <div class="card">
        <p><%= message.title %></p>
        <p><%= message.data %></p>
        <% if(locals.user && locals.user.member) { %>
          <p>From: <%= message.firstname %></p>
          <p>Added: <%= message.added %></p>
        <% } %>

        <% if(locals.user.admin)  {%>
          <a href="#">Delete</a>
        <% } %>
      </div>
    <% }); %>
  <% } %>
</main>
<%- include('partials/footer.ejs') %>